
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        <img src="/static/assets/img/brand/logo-white.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              {% if request.user.appuser %}
                <span class="avatar avatar-sm">
                  {% if request.user.appuser.img %}
                    <img class="rounded-circle" src="{{ request.user.appuser.img.url }}">
                  {% else %}
                    <img class="rounded-circle" src="/static/default_user_img.jpeg">
                  {% endif %}
                </span>
              {% else %}
                <span class="avatar avatar-sm">
                  <img class="rounded-circle" src="/static/default_user_img.jpeg">
                </span>
              {% endif %}
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a href="{% url 'user_profile' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Profilo</span>
            </a>
            <a href="/profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Supporto</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Esci</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{% url 'storico_dash' %}">
                <img src="/static/assets/img/brand/logo-white.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        {% comment %} <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form> {% endcomment %}
        
        <!-- Navigation -->

        <ul class="navbar-nav">
          {% for item in side_menu %}
            <li class="nav-item">
              {% if item.type == "url" %}
                <a class="nav-link {% if item.active %}active{% endif %}" href="{% url item.url %}"> 
                  <i class="{{ item.icon_classes }}"></i> 
                  {{ item.text }}
                </a>
              {% elif item.type == "bar" %}
                <div class="dropdown-divider"></div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
