
<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    PadMed - {% block title %} Triage {% endblock %} | PadMed s.r.l
  </title>

  <!-- Favicon - loaded as static -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept" rel="stylesheet" type="text/css"/>
  <style>
    @font-face {font-family: AcuminVariableConcept;
      src: url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.eot"); /* IE9*/
      src: url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.woff2") format("woff2"), /* chrome、firefox */
      url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.woff") format("woff"), /* chrome、firefox */
      url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("/static/assets/fonts/Acumin Variable Concept/Acumin Variable Concept/@font-face/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept") format("svg"); /* iOS 4.1- */
    }
  </style>  
  <!-- Icons -->
  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- JS Files -->
  <script type="text/javascript" src="/static/assets/js/onscan.js"></script>
  <script type="text/javascript" src="/static/assets/js/progressbar.js"></script>
  <!-- Specific CSS goes HERE -->
  <link href="/static/assets/css/datamed.css" rel="stylesheet">

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">


  <div class="main-content">

    {% block content %}{% endblock content %}

  </div>
  
  {% include "includes/scripts-triage.html" %}

  <!-- Specific JS goes HERE -->
  <script>
    
  </script>
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
