venv/*
venv3/*
.vscode
*.pyc
__pycache__
.env
.bilimetrix.env
collected_static
!.gitkeep
media/*
!media/.gitkeep
!media/tmp/.gitkeep
!media/debug_chunks/.gitkeep

config.json

.sass-cache/
node_modules/
!bower.json

staticfiles/*

dfxutils/res/*
*.sqlite3