{% load settingsdata i18n static cms_tags %}
{% mail_header %}

{% autoescape off %}

<tr>
    <td class="innerpadding borderbottom" style="padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#f2eeed;" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td class="h2" style="color:#153643;padding-top:0;padding-bottom:15px;padding-right:0;padding-left:0;font-size:24px;line-height:28px;font-weight:bold;" >
            {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {% endblocktrans %} {% site_name %}.
        </td>
        </tr>
        <tr>
        <td class="bodycopy" style="color:#153643;font-size:16px;line-height:22px;" >
            <br>
            {% trans "Please go to the following page and choose a new password:" %}
            <br>
            {% block reset_link %}
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
            {% endblock %}
            <br>
            <br>
            {% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b>
        </td>
        </tr>
    </table>
    </td>
</tr>
<tr><td>{{extra_info}}</td></tr>

{% endautoescape %}

{% mail_footer uuid=uuid %}