{% extends BASE_TEMPLATE %}

{% block title %} Live Dashboard {% endblock title %}

{% block stylesheets %}
  <style>

    .blinking {
      animation: blink 1s ease-in infinite;
    }

    @keyframes blink {
      from, to { opacity: 1 }
      50% { opacity: 0 }
    }

  </style>

{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->

          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Gialli</h5>
                      <span id="gialli-value" class="h2 font-weight-bold mb-0">{{ cards.gialli.value }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    {% if cards.gialli.diff == 0 %}
                      <span id="gialli-diff" class="text-success mr-2">{{ cards.gialli.diff }}</span>
                    {% else %}
                      {% if cards.gialli.positive_trend %}
                        <span id="gialli-diff" class="text-warning mr-2"><i class="fas fa-arrow-up"></i>{{ cards.gialli.diff }}</span>
                      {% else %}
                        <span id="gialli-diff" class="text-success mr-2"><i class="fas fa-arrow-down"></i>{{ cards.gialli.diff }}</span>
                      {% endif %}
                    {% endif %}
                    <span class="text-nowrap">Rispetto a un'ora fa</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Verdi</h5>
                      <span id="verdi-value" class="h2 font-weight-bold mb-0">{{ cards.verdi.value }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    {% if cards.verdi.diff == 0 %}
                      <span id="verdi-diff" class="text-success mr-2">{{ cards.verdi.diff }}</span>
                    {% else %}
                      {% if cards.verdi.positive_trend %}
                        <span id="verdi-diff" class="text-warning mr-2"><i class="fas fa-arrow-up"></i>{{ cards.verdi.diff }}</span>
                      {% else %}
                        <span id="verdi-diff" class="text-success mr-2"><i class="fas fa-arrow-down"></i>{{ cards.verdi.diff }}</span>
                      {% endif %}
                    {% endif %}
                    <span class="text-nowrap">Rispetto a un'ora fa</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Bianchi</h5>
                      <span id="bianchi-value" class="h2 font-weight-bold mb-0">{{ cards.bianchi.value }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    {% if cards.bianchi.diff == 0 %}
                      <span id="bianchi-diff" class="text-success mr-2">{{ cards.bianchi.diff }}</span>
                    {% else %}
                      {% if cards.bianchi.positive_trend %}
                        <span id="bianchi-diff" class="text-warning mr-2"><i class="fas fa-arrow-up"></i>{{ cards.bianchi.diff }}</span>
                      {% else %}
                        <span id="bianchi-diff" class="text-success mr-2"><i class="fas fa-arrow-down"></i>{{ cards.bianchi.diff }}</span>
                      {% endif %}
                    {% endif %}
                    <span class="text-nowrap">Rispetto a un'ora fa</span>
                  </p>
                </div>
              </div>
            </div>

            {% comment %} <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Personale</h5>
                      <span class="h2 font-weight-bold mb-0">{{ cards.personale.value }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-user-nurse"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    {% if cards.personale.diff == 0 %}
                      <span class="text-success mr-2">{{ cards.personale.diff }}</span>
                    {% else %}
                      {% if cards.personale.positive_trend %}
                        <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i>{{ cards.personale.diff }}</span>
                      {% else %}
                        <span class="text-success mr-2"><i class="fas fa-arrow-down"></i>{{ cards.personale.diff }}</span>
                      {% endif %}
                    {% endif %}
                    <span class="text-nowrap">Rispetto a un'ora fa</span>
                  </p>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Table pending -->
      <div class="row">
        <div class="col">
          <div class="card shadow" id="id_table_container">
            
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
    

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    $(document).ready( function () {
      // Responsive table
      update_active_responsive_table('{{live_table|safe}}');
      set_submit_form();
    });

    // AJAX Function //
    function set_submit_form() {
      // ADDING AJAX DATE POST
      // if you have problem with csrf see https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html#ajax-validation-recipe
      // or https://stackoverflow.com/questions/19333098/403-forbidden-error-when-making-an-ajax-post-request-in-django-framework
      $(".date-form").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var formData = getFormData(form);
        $.ajax({
          type: "POST",
          url: "{% url 'post_live_access_status' %}",
          dataType: "json",
          data: formData,
          //{
            //"csrfmiddlewaretoken": window.CSRF_TOKEN,
          //},
          complete: function() {
          },
          success: function (data) {
            if (data.success) {
              // update_active_responsive_table(data.live_table); //if you whant to reload the entire table
              var row = form.closest('tr');
              $("#data_table").DataTable().row(row).remove().draw();
              // update carts
              update_cards(data.cards);
            } else {
              alert( "Un errore ha impedito l'aggiornamento dei dati." );
            }
          },
          error: function() {
            alert( "Un errore ha impedito la comunicazione con il server. I dati non saranno aggiornati." );
          }
        });
        return false;
      });
    }

  function build_active_responsive_table(){
    $('#data_table').DataTable({
      // "responsive": true,
      "paging":   false,
      "pageLength" : 10,
      "aaSorting": [[0,"asc"],[3,"des"]],
      "lengthChange": false,
      "autoWidth": false,
      "language": {
        "sEmptyTable":     "Nessun dato presente nella tabella",
        "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
        "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
        "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
        "sInfoPostFix":    "",
        "sInfoThousands":  ".",
        "sLengthMenu":     "Visualizza _MENU_ elementi",
        "sLoadingRecords": "Caricamento...",
        "sProcessing":     "Elaborazione...",
        "sSearch":         "Cerca:",
        "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
        "oPaginate": {
          "sFirst":      "Inizio",
          "sPrevious":   "Precedente",
          "sNext":       "Successivo",
          "sLast":       "Fine"
        },
        "oAria": {
          "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
          "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
        }
      },
    });
  }

  function update_active_responsive_table(live_table){
    $("#id_table_container").empty()
    $("#id_table_container").append(live_table);
    build_active_responsive_table();
  }
  
  function update_cards(cards) {
    $("#gialli-value").html(cards.gialli.value);
    if (cards.verdi.diff == 0){
      $("#gialli-diff").html(cards.gialli.diff_formatted);
      $("#gialli-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
    } else {
      if (cards.verdi.positive_trend){
        $("#gialli-diff").html("<i class='fas fa-arrow-up'></i>" + cards.gialli.diff_formatted);
        $("#gialli-diff").removeClass(["text-warning","text-success"]).addClass("text-warning");
      } else {
        $("#gialli-diff").html("<i class='fas fa-arrow-down'></i>" + cards.gialli.diff_formatted);
        $("#gialli-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
      }
    }
    
    $("#verdi-value").html(cards.verdi.value);
    if (cards.verdi.diff == 0){
      $("#verdi-diff").html(cards.verdi.diff_formatted);
      $("#verdi-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
    } else {
      if (cards.verdi.positive_trend){
        $("#verdi-diff").html("<i class='fas fa-arrow-up'></i>" + cards.verdi.diff_formatted);
        $("#verdi-diff").removeClass(["text-warning","text-success"]).addClass("text-warning");
      } else {
        $("#verdi-diff").html("<i class='fas fa-arrow-down'></i>" + cards.verdi.diff_formatted);
        $("#verdi-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
      }
    }

    $("#bianchi-value").html(cards.bianchi.value);
    $("#bianchi-diff").html(cards.bianchi.diff_formatted);
    if (cards.bianchi.diff == 0){
      $("#bianchi-diff").html(cards.bianchi.diff_formatted);
      $("#bianchi-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
    } else {
      if (cards.bianchi.positive_trend){
        $("#bianchi-diff").html("<i class='fas fa-arrow-up'></i>" + cards.bianchi.diff_formatted);
        $("#bianchi-diff").removeClass(["text-warning","text-success"]).addClass("text-warning");
      } else {
        $("#bianchi-diff").html("<i class='fas fa-arrow-down'></i>" + cards.bianchi.diff_formatted);
        $("#bianchi-diff").removeClass(["text-warning","text-success"]).addClass("text-success");
      }
    }
  }

  </script>

{% endblock javascripts %}
