{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <style>
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
      padding: 1px;
    }

    .table-hover > tbody > tr:hover {
      cursor:pointer;
    }

    .div-hover > div.row {
      background: #fff;
    }
    .div-hover > div.row:hover {
      background: #f5f5f5;
      cursor:pointer;
    }
    .chart2 {
      position: relative;
      height: 350px;
    }

    .blinking {
      animation: blink 1s ease-in infinite;
    }

    @keyframes blink {
      from, to { opacity: 1 }
      50% { opacity: 0 }
    }
  </style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary outer-space pb-8 pt-5 pt-md-8">
      <div class="container-fluid outer-space">
        <div class="header-body outer-space">

          <!-- Filters -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 mb-5">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <form id="date-form" name="date-form" method='post'>
                        {% crispy form %}
                        <input form="date-form" type="submit" class="btn btn-sm btn-info mr-4" value="Aggiorna">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card stats -->
          <div class="row">

            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Gialli</h5>
                      <table class="table table-borderless table-condensed mt-2">
                        <tbody>
                          <tr id="id_y_all">
                            <td>
                              <span id="gialli-value" class="h2 font-weight-bold mb-0">{{ cards.gialli.value }}</span>
                              {% comment %} <span id="gialli-diff" class="{{ cards.gialli.diff_class }} mr-2 pl-2">{{ cards.gialli.diff_formatted }}</span> {% endcomment %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span id="gialli-diff" class="{{ cards.gialli.diff_class }} mr-2 pl-2">{{ cards.gialli.diff_formatted }}</span>
                    <span class="text-nowrap">Rispetto al periodo precedente</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Verdi</h5>
                      <table class="table table-borderless table-condensed mt-2">
                        <tbody>
                          <tr id="id_g_all">
                            <td>
                              <span id="verdi-value" class="h2 font-weight-bold mb-0">{{ cards.verdi.value }}</span>
                              {% comment %} <span id="verdi-diff" class="{{ cards.verdi.diff_class }} mr-2 pl-2">{{ cards.verdi.diff_formatted }}</span> {% endcomment %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span id="verdi-diff" class="{{ cards.verdi.diff_class }} mr-2 pl-2">{{ cards.verdi.diff_formatted }}</span>
                    <span class="text-nowrap">Rispetto al periodo precedente</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Bianchi</h5>
                      <table class="table table-borderless table-condensed mt-2">
                        <tbody>
                          <tr id="id_w_all">
                            <td>
                              <span id="bianchi-value" class="h2 font-weight-bold mb-0">{{ cards.bianchi.value }}</span>
                              {% comment %} <span id="bianchi-diff" class="{{ cards.bianchi.diff_class }} mr-2 pl-2">{{ cards.bianchi.diff_formatted }}</span> {% endcomment %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span id="bianchi-diff" class="{{ cards.bianchi.diff_class }} mr-2 pl-2">{{ cards.bianchi.diff_formatted }}</span>
                    <span class="text-nowrap">Rispetto al periodo precedente</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7 outer-space">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
                  <h2 class="text-white mb-0">Numero di accessi</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li id="id_months_data_container" class="nav-item mr-2 mr-md-0" data-toggle="chart2" data-target="#chart-sales2" data-update='' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Mesi</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li id="id_weeks_data_container" class="nav-item" data-toggle="chart2" data-target="#chart-sales2" data-update='' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Settimane</span>
                        <span class="d-md-none">S</span>
                      </a>
                    </li>
                    <li id="id_days_data_container" class="nav-item" data-toggle="chart2" data-target="#chart-sales2" data-update='' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Giorni</span>
                        <span class="d-md-none">G</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart2">
                <!-- Chart wrapper -->
                <canvas id="chart-sales2" class="chart-canvas" ></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                  <h2 class="mb-0">Motivi di accesso</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart2">
                <canvas id="chart-orders2" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <div class="card shadow" id="id_table_container">
            
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>

    $(document).ready(function () {
      set_submit_form();
      set_access_status_submit_form();
      // define_clickable();
      // define_hidden_input_behaviour();
      // Funciton Charts funncitons //
      build_funciton_chart();
      define_buttons_function_chart();
      update_function_chart({{big_graph|safe}});
      // Bar chart functions //
      build_bar_chart();
      update_bar_chart({{bar_graph|safe}});
      // Responsive table
      update_active_responsive_table('{{storico_table|safe}}');
    });

    // AJAX Function //
    function set_submit_form() {
      // ADDING AJAX DATE POST
      //window.CSRF_TOKEN = "{{ csrf_token }}"; // Not necessary (crispy forms har already csrf in it)
      // if you have problem with csrf see https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html#ajax-validation-recipe
      // or https://stackoverflow.com/questions/19333098/403-forbidden-error-when-making-an-ajax-post-request-in-django-framework
      $("#date-form").submit(function (event) {
        event.preventDefault();
        var formData = getFormData($("#date-form"));
        update_all_charts_ajax(formData);
        return false;
      });
    }

    function update_all_charts_ajax(formData,except_table=false) {
      $.ajax({
        type: "POST",
        url: "{% url 'get_storico_data' %}",
        dataType: "json",
        data: formData,
        //{
          //"csrfmiddlewaretoken": window.CSRF_TOKEN,
        //},
        complete: function() {
        },
        success: function (data) {
          if (data.success) {
            update_cards(data.cards);
            update_function_chart(data.big_graph);
            update_bar_chart(data.bar_graph);
            if (!except_table){
              update_active_responsive_table(data.storico_table);
            }
          } else {
            $('#date-form').html(data.form_html);
          }
        },
        error: function() {
          alert( "Un errore ha impedito la comunicazione con il server. I dati non saranno aggiornati." );
        }
      });
    }

    // AJAX Function //
    function set_access_status_submit_form() {
      $(".access-date-form").submit(function () {
        event.preventDefault();
        var form = $(this);
        var formData = getFormData(form);
        console.log(form)
        $.ajax({
          type: "POST",
          url: "{% url 'post_storico_access_status' %}",
          dataType: "json",
          data: formData,
          //{
            //"csrfmiddlewaretoken": window.CSRF_TOKEN,
          //},
          complete: function() {
          },
          success: function (data) {
            if (data.success) {
              // update_active_responsive_table(data.live_table); //if you whant to reload the entire table
              // var row = form.closest('tr');
              // $("#data_table").DataTable().row(row).remove().draw();
              // update carts
              var formData = getFormData($("#date-form"));
              update_all_charts_ajax(formData);
            } else {
              alert( "Un errore ha impedito l'aggiornamento dei dati." );
            }
          },
          error: function() {
            alert( "Un errore ha impedito la comunicazione con il server. I dati non saranno aggiornati." );
          }
        });
        return false;
      });
    }

    function update_cards(cards) {
      $("#gialli-value").html(cards.gialli.value);
      $("#gialli-diff").html(cards.gialli.diff_formatted);
      $("#gialli-diff").removeClass(["text-warning","text-success"]).addClass(cards.gialli.diff_class);

      $("#verdi-value").html(cards.verdi.value);
      $("#verdi-diff").html(cards.verdi.diff_formatted);
      $("#verdi-diff").removeClass(["text-warning","text-success"]).addClass(cards.verdi.diff_class);

      $("#bianchi-value").html(cards.bianchi.value);
      $("#bianchi-diff").html(cards.bianchi.diff_formatted);
      $("#bianchi-diff").removeClass(["text-warning","text-success"]).addClass(cards.bianchi.diff_class);
    }

    //--------------//

    {% comment %} function define_clickable(){
      var class_to_add = "border border-primary";
      $('.clickable-1').click(function() {
          $('.clickable-1').removeClass(class_to_add);
          $(this).addClass(class_to_add);
      });
      $(document).click(function (event) {
        if ($(event.target).hasClass('outer-space')){
          $('.clickable-1').removeClass(class_to_add);
        }
      });
    } {% endcomment %}

    {% comment %} function define_hidden_input_behaviour(){
      var dict_to_fields = {
        "#id_y_all": ["yellow","",""],
        "#id_y_0_2": ["yellow","0","2"],
        "#id_y_2_4": ["yellow","2","4"],
        "#id_y_4__": ["yellow","4",""],
        "#id_g_all": ["green","",""],
        "#id_g_0_2": ["green","0","2"],
        "#id_g_2_4": ["green","2","4"],
        "#id_g_4__": ["green","4",""],
        "#id_w_all": ["white","",""],
        "#id_w_0_2": ["white","0","2"],
        "#id_w_2_4": ["white","2","4"],
        "#id_w_4__": ["white","4",""],
      }
      $.each(dict_to_fields,function(index,value){ 
        $(index).click(function() {
          $('#id_code').val(value[0]);
          $('#id_from_hours').val(value[1]);
          $('#id_to_hours').val(value[2]);
        });
      });
      $(document).click(function (event) {
        if ($(event.target).hasClass('outer-space')){
          $('#id_code').val(null);
          $('#id_from_hours').val(null);
          $('#id_to_hours').val(null);
        }
      });
    } {% endcomment %}

    function build_funciton_chart(){
      // Get the canvas
        
      var $chart = $('#chart-sales2');

      // Define the graph

      var salesChart = new Chart($chart, {
        type: 'line',
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                lineWidth: 1,
                color: Charts.colors.gray[900],
                zeroLineColor: Charts.colors.gray[900]
              },
              ticks: {
                callback: function(value) {
                  if (!(value % 2)) {
                    return value;
                  }
                }
              }
            }]
          },
          tooltips: {
            callbacks: {
              label: function(item, data) {
                var label = data.datasets[item.datasetIndex].label || '';
                var yLabel = item.yLabel;
                var content = '';

                if (data.datasets.length > 1) {
                  content += '<span class="popover-body-label mr-auto">' + label + '</span>';
                }

                content += '<span class="popover-body-value">' + yLabel + '</span>';
                return content;
              }
            }
          }
        },
        data: {
          labels: [],
          datasets: [{
            label: 'Performance',
            data: []
          }]
        }
      });

      // Save to jQuery object

      $chart.data('chart', salesChart);
    }

    function define_buttons_function_chart(){
      $("#id_months_data_container a").click(function (event){
        event.preventDefault();
        var ctx = $('#chart-sales2');
        var chart = ctx.data("chart");
        var time_data = $("#id_months_data_container").attr("data-update");
        time_data = JSON.parse(time_data);
        chart.data.labels = time_data.data.labels;
        chart.data.datasets = time_data.data.datasets; 
        chart.update();
      });
      $("#id_weeks_data_container a").click(function (event){
        event.preventDefault();
        var ctx = $('#chart-sales2');
        var chart = ctx.data("chart");
        var time_data = $("#id_weeks_data_container").attr("data-update");
        time_data = JSON.parse(time_data);
        chart.data.labels = time_data.data.labels;
        chart.data.datasets = time_data.data.datasets;
        chart.update();
      });
      $("#id_days_data_container a").click(function (event){
        event.preventDefault();
        var ctx = $('#chart-sales2');
        var chart = ctx.data("chart");
        var time_data = $("#id_days_data_container").attr("data-update");
        time_data = JSON.parse(time_data);
        chart.data.labels = time_data.data.labels;
        chart.data.datasets = time_data.data.datasets;
        chart.update();
      });
    }

    function update_function_chart(data){
      $("#id_months_data_container").attr("data-update",JSON.stringify(data.months_data));
      $("#id_weeks_data_container").attr("data-update",JSON.stringify(data.weeks_data));
      $("#id_days_data_container").attr("data-update",JSON.stringify(data.days_data));
      if ($("#id_months_data_container a").hasClass("active")){
        $("#id_months_data_container a").click();
      } else if ($("#id_weeks_data_container a").hasClass("active")){
        $("#id_weeks_data_container a").click();
      } else if ($("#id_days_data_container a").hasClass("active")){
        $("#id_days_data_container a").click();
      }
    }
    
    function build_bar_chart(){
      var $chart = $('#chart-orders2');

      var ordersChart = new Chart($chart, {
        type: 'bar',
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                lineWidth: 1,
                color: '#dfe2e6',
                zeroLineColor: '#dfe2e6'
              },
              ticks: {
                callback: function(value) {
                  if (!(value % 1)) {
                    //return '$' + value + 'k'
                    return value
                  }
                }
              }
            }]
          },
          tooltips: {
            callbacks: {
              label: function(item, data) {
                var label = data.datasets[item.datasetIndex].label || '';
                var yLabel = item.yLabel;
                var content = '';
  
                if (data.datasets.length > 1) {
                  content += '<span class="popover-body-label mr-auto">' + label + '</span>';
                }
  
                content += '<span class="popover-body-value">' + yLabel + '</span>';
  
                return content;
              }
            }
          }
        },
        data: {
          labels: [],
          datasets: [{
            label: '',
            data: []
          }]
        }
      });
  
      // Save to jQuery object
      $chart.data('chart', ordersChart);
    }

    function update_bar_chart(data){
      var ctx = $('#chart-orders2');
      var chart = ctx.data("chart");
      chart.data.labels = data.data.labels;
      chart.data.datasets = data.data.datasets; 
      chart.update();
    }
    
    function build_active_responsive_table(){
      var data_table = $('#data_table').DataTable({
          // "responsive": true,
          "destroy": true,
          "paging":   true,
          "pageLength" : 20,
          "aaSorting": [[0,"asc"],[3,"des"]],
          "lengthChange": false,
          "autoWidth": false,
          "language": {
            "sEmptyTable":     "Nessun dato presente nella tabella",
            "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix":    "",
            "sInfoThousands":  ".",
            "sLengthMenu":     "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing":     "Elaborazione...",
            "sSearch":         "Cerca:",
            "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
              "sFirst":      "Inizio",
              "sPrevious":   "Precedente",
              "sNext":       "Successivo",
              "sLast":       "Fine"
            },
            "oAria": {
              "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
              "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
          },
        });
    }

    function update_active_responsive_table(table){
      $("#id_table_container").empty()
      $("#id_table_container").append(table);
      build_active_responsive_table();
      set_access_status_submit_form();
    }


  </script>
{% endblock javascripts %}
