{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <style>
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
      padding: 1px;
    }

    .table-hover > tbody > tr:hover {
      cursor:pointer;
    }

    .div-hover > div.row {
      background: #fff;
    }
    .div-hover > div.row:hover {
      background: #f5f5f5;
      cursor:pointer;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->
          <div class="row">

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <form id="date-form" name="date-form" method='post'>
                        {% crispy form %}
                        <input form="date-form" type="submit" class="btn btn-sm btn-info mr-4" value="Aggiorna">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Gialli</h5>
                      <table class="table table-borderless table-hover table-condensed mt-2">
                        <tbody>
                          <tr id="id_y_all" class="clickable-1">
                            <td>
                              <span id="gialli-value" class="h2 font-weight-bold mb-0">{{ cards.gialli.value }}</span>
                              <span id="gialli-diff" class="{{ cards.gialli.diff_class }} mr-2 pl-2">{{ cards.gialli.diff_formatted }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title text-uppercase text-muted mt-2 mb-0">Permanenza</h5>

                  <div class="div-hover">
                    <div id="id_y_0_2" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.gialli.value_1_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="gialli-value_1" class="h2 font-weight-bold">{{ cards.gialli.value_1 }}</span>
                        <span id="gialli-diff_1" class="{{ cards.gialli.diff_1_class }} ml-2">{{ cards.gialli.diff_1_formatted }}</span>
                      </div>
                    </div>

                    <div id="id_y_2_4" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.gialli.value_2_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="gialli-value_2" class="h2 font-weight-bold">{{ cards.gialli.value_2 }}</span>
                        <span id="gialli-diff_2" class="{{ cards.gialli.diff_2_class }} ml-2">{{ cards.gialli.diff_2_formatted }}</span>
                      </div>
                    </div>

                    <div id="id_y_4__" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.gialli.value_3_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="gialli-value_3" class="h2 font-weight-bold">{{ cards.gialli.value_3 }}</span>
                        <span id="gialli-diff_3" class="{{ cards.gialli.diff_3_class }} ml-2">{{ cards.gialli.diff_3_formatted }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Verdi</h5>
                      <table class="table table-borderless table-hover table-condensed mt-2">
                        <tbody>
                          <tr id="id_g_all" class="clickable-1">
                            <td>
                              <span id="verdi-value" class="h2 font-weight-bold mb-0">{{ cards.verdi.value }}</span>
                              <span id="verdi-diff" class="{{ cards.verdi.diff_class }} mr-2 pl-2">{{ cards.verdi.diff_formatted }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title text-uppercase text-muted mt-2 mb-0">Permanenza</h5>
                  <div class="div-hover">
                    <div id="id_g_0_2" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.verdi.value_1_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="verdi-value_1" class="h2 font-weight-bold">{{ cards.verdi.value_1 }}</span>
                        <span id="verdi-diff_1" class="{{ cards.verdi.diff_1_class }} ml-2">{{ cards.verdi.diff_1_formatted }}</span>
                      </div>
                    </div>
                    <div id="id_g_2_4" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.verdi.value_2_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="verdi-value_2" class="h2 font-weight-bold">{{ cards.verdi.value_2 }}</span>
                        <span id="verdi-diff_2" class="{{ cards.verdi.diff_2_class }} ml-2">{{ cards.verdi.diff_2_formatted }}</span>
                      </div>
                    </div>
                    <div id="id_g_4__" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.verdi.value_3_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="verdi-value_3" class="h2 font-weight-bold">{{ cards.verdi.value_3 }}</span>
                        <span id="verdi-diff_3" class="{{ cards.verdi.diff_3_class }} ml-2">{{ cards.verdi.diff_3_formatted }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Codici Bianchi</h5>
                      <table class="table table-borderless table-hover table-condensed mt-2">
                        <tbody>
                          <tr id="id_w_all" class="clickable-1">
                            <td>
                              <span id="bianchi-value" class="h2 font-weight-bold mb-0">{{ cards.bianchi.value }}</span>
                              <span id="bianchi-diff" class="{{ cards.bianchi.diff_class }} mr-2 pl-2">{{ cards.bianchi.diff_formatted }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white rounded-circle shadow">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title text-uppercase text-muted mt-2 mb-0">Permanenza</h5>
                  <div class="div-hover">
                    <div id="id_w_0_2" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.bianchi.value_1_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="bianchi-value_1" class="h2 font-weight-bold">{{ cards.bianchi.value_1 }}</span>
                        <span id="bianchi-diff_1" class="{{ cards.bianchi.diff_1_class }} ml-2">{{ cards.bianchi.diff_1_formatted }}</span>
                      </div>
                    </div>
                    <div id="id_w_2_4" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.bianchi.value_2_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="bianchi-value_2" class="h2 font-weight-bold">{{ cards.bianchi.value_2 }}</span>
                        <span id="bianchi-diff_2" class="{{ cards.bianchi.diff_2_class }} ml-2">{{ cards.bianchi.diff_2_formatted }}</span>
                      </div>
                    </div>
                    <div id="id_w_4__" class="row clickable-1">
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <p class="text-muted">{{ cards.bianchi.value_3_description }}</p>
                      </div>
                      <div class="col-xl-6 col-lg-6 hoverDiv">
                        <span id="bianchi-value_3" class="h2 font-weight-bold">{{ cards.bianchi.value_3 }}</span>
                        <span id="bianchi-diff_3" class="{{ cards.bianchi.diff_3_class }} ml-2">{{ cards.bianchi.diff_3_formatted }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">Numero di pazienti</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{{big_graph.months_data}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Mesi</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{{big_graph.weeks_data}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Settimane</span>
                        <span class="d-md-none">S</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{{big_graph.days_data}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Giorni</span>
                        <span class="d-md-none">G</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas" ></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total orders</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Page visits</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Page name</th>
                    <th scope="col">Visitors</th>
                    <th scope="col">Unique users</th>
                    <th scope="col">Bounce rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      /argon/
                    </th>
                    <td>
                      4,569
                    </td>
                    <td>
                      340
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/index.html
                    </th>
                    <td>
                      3,985
                    </td>
                    <td>
                      319
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/charts.html
                    </th>
                    <td>
                      3,513
                    </td>
                    <td>
                      294
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/tables.html
                    </th>
                    <td>
                      2,050
                    </td>
                    <td>
                      147
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/profile.html
                    </th>
                    <td>
                      1,795
                    </td>
                    <td>
                      190
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Social traffic</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Referral</th>
                    <th scope="col">Visitors</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      1,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      5,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">70%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Google
                    </th>
                    <td>
                      4,807
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">80%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Instagram
                    </th>
                    <td>
                      3,678
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">75%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      twitter
                    </th>
                    <td>
                      2,645
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">30%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>

    $(document).ready(function () {
      set_submit_form();
      define_clickable();
      define_hidden_input_behaviour();
      // update_big_graph({{big_graph.months_data|safe}});
    });

    function update_big_graph(big_graph){
      var ctx = $('#chart-sales');
      var chart = ctx.data("chart");
      chart.data.labels = big_graph.data.labels;
      chart.data.datasets = big_graph.data.datasets;
      chart.update();
    }

    function update_cards(cards) {
      $("#gialli-value").html(cards.gialli.value);
      $("#gialli-diff").html(cards.gialli.diff_formatted);
      $("#gialli-diff").removeClass(["text-warning","text-success"]).addClass(cards.gialli.diff_class);
      $("#gialli-value_1").html(cards.gialli.value_1);
      $("#gialli-diff_1").html(cards.gialli.diff_1_formatted);
      $("#gialli-diff_1").removeClass(["text-warning","text-success"]).addClass(cards.gialli.diff_1_class);
      $("#gialli-value_2").html(cards.gialli.value_2);
      $("#gialli-diff_2").html(cards.gialli.diff_2_formatted);
      $("#gialli-diff_2").removeClass(["text-warning","text-success"]).addClass(cards.gialli.diff_2_class);
      $("#gialli-value_3").html(cards.gialli.value_3);
      $("#gialli-diff_3").html(cards.gialli.diff_3_formatted);
      $("#gialli-diff_3").removeClass(["text-warning","text-success"]).addClass(cards.gialli.diff_3_class);

      $("#verdi-value").html(cards.verdi.value);
      $("#verdi-diff").html(cards.verdi.diff_formatted);
      $("#verdi-diff").removeClass(["text-warning","text-success"]).addClass(cards.verdi.diff_class);
      $("#verdi-value_1").html(cards.verdi.value_1);
      $("#verdi-diff_1").html(cards.verdi.diff_1_formatted);
      $("#verdi-diff_1").removeClass(["text-warning","text-success"]).addClass(cards.verdi.diff_1_class);
      $("#verdi-value_2").html(cards.verdi.value_2);
      $("#verdi-diff_2").html(cards.verdi.diff_2_formatted);
      $("#verdi-diff_2").removeClass(["text-warning","text-success"]).addClass(cards.verdi.diff_2_class);
      $("#verdi-value_3").html(cards.verdi.value_3);
      $("#verdi-diff_3").html(cards.verdi.diff_3_formatted);
      $("#verdi-diff_3").removeClass(["text-warning","text-success"]).addClass(cards.verdi.diff_3_class);

      $("#bianchi-value").html(cards.bianchi.value);
      $("#bianchi-diff").html(cards.bianchi.diff_formatted);
      $("#bianchi-diff").removeClass(["text-warning","text-success"]).addClass(cards.bianchi.diff_class);
      $("#bianchi-value_1").html(cards.bianchi.value_1);
      $("#bianchi-diff_1").html(cards.bianchi.diff_1_formatted);
      $("#bianchi-diff_1").removeClass(["text-warning","text-success"]).addClass(cards.bianchi.diff_1_class);
      $("#bianchi-value_2").html(cards.bianchi.value_2);
      $("#bianchi-diff_2").html(cards.bianchi.diff_2_formatted);
      $("#bianchi-diff_2").removeClass(["text-warning","text-success"]).addClass(cards.bianchi.diff_2_class);
      $("#bianchi-value_3").html(cards.bianchi.value_3);
      $("#bianchi-diff_3").html(cards.bianchi.diff_3_formatted);
      $("#bianchi-diff_3").removeClass(["text-warning","text-success"]).addClass(cards.bianchi.diff_3_class);
    }

    function getFormData($form){
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });

      return indexed_array;
    }

    function set_submit_form() {
      // ADDING AJAX DATE POST
      //window.CSRF_TOKEN = "{{ csrf_token }}"; // Not necessary (crispy forms har already csrf in it)
      // if you have problem with csrf see https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html#ajax-validation-recipe
      // or https://stackoverflow.com/questions/19333098/403-forbidden-error-when-making-an-ajax-post-request-in-django-framework
      $("#date-form").submit(function (event) {
        event.preventDefault();
        var formData = getFormData($("#date-form"));
        $.ajax({
          type: "POST",
          url: "{% url 'get_storico_data' %}",
          dataType: "json",
          data: formData,
          //{
            //"csrfmiddlewaretoken": window.CSRF_TOKEN,
          //},
          complete: function() {
          },
          success: function (data) {
            if (data.success) {
              update_cards(data.cards);
              update_big_graph(data.big_graph);
            } else {
              $('#date-form').html(data.form_html);
            }
          },
          error: function() {
            alert( "Un errore ha impedito la comunicazione con il server. I dati non saranno aggiornati." );
          }
        });
        return false;
      });
    }

    function define_clickable(){
      $('.clickable-1').click(function() {
          var class_to_add = "border border-primary";
          $('.clickable-1').removeClass(class_to_add);
          $(this).addClass(class_to_add);
      });
    }

    function define_hidden_input_behaviour(){
      var dict_to_fields = {
        "#id_y_all": ["yellow","",""],
        "#id_y_0_2": ["yellow","0","2"],
        "#id_y_2_4": ["yellow","2","4"],
        "#id_y_4__": ["yellow","4",""],
        "#id_g_all": ["green","",""],
        "#id_g_0_2": ["green","0","2"],
        "#id_g_2_4": ["green","2","4"],
        "#id_g_4__": ["green","4",""],
        "#id_w_all": ["white","",""],
        "#id_w_0_2": ["white","0","2"],
        "#id_w_2_4": ["white","2","4"],
        "#id_w_4__": ["white","4",""],
      }
      $.each(dict_to_fields,function(index,value){ 
        $(index).click(function() {
          $('#id_code').val(value[0]);
          $('#id_from_hours').val(value[1]);
          $('#id_to_hours').val(value[2]);
        });
      });
    }

  </script>
{% endblock javascripts %}
