{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Header container -->
  <div class="container-fluid">
    <div class="row"><div class="col-md-12 mb-5"></div></div>
    <div class="row" style="background-color: #00a99d; box-shadow: 0px 10px 10px; position: relative; z-index:10;">
        <div class="col-md-1 "></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <div class="com-triangle-left"></div>
        </div>
        <div class="col-md-6" style="margin:auto; text-align:center;">
            <span style="color: white;"><b>PASSARE LA TESSERA SANITARIA NEL LETTORE</b></span>
        </div>
        <div class="col-md-1">
            <div class="com-triangle-right"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
    </div>
  </div>
  <!-- Header container -->
  <!-- Main communication div -->
  <div class="com-area">
    <div class="com-area-triangle"></div>
    <div class="com-area-out" style="text-align:center;">
      <img src="/static/assets/img/triage/TS.png">
    </div>
  </div>
  <div class="com-area" style="margin: -30px auto auto auto; width: 540px; height: 70px;" >
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p id="id_fiscal_code"><b>CODICE FISCALE</b></p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="full-right">
    <img src="/static/assets/img/triage/arrow.png">
  </div>
      <!-- 

      <form action="{% url 'receptions' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-m4-4">
                {{ form.fiscal_code }}
              </div>
              <div class="col-md-4"></div>
            </div>
              <span class="text-error"> {{ errors }} </span>
          <button type="submit" id="submitButton" class="btn btn-primary" style="display: none">Continua</button>
      </form>
  </div>
  -->
  <!-- Main communication div -->
  <!-- 
    <div class="container-fluid mt7">
      <div class="row justify-content-center">
        <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/assets/img/triage/tessera-sanitaria.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                        <button class="btn btn-primary">Inserisci la tessera nel lettore</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-left mt-md-5">
                <div>
                  <i class="fas fa-arrow-down fa-4x" style="color: #78ceb5;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-xl-2">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Oppure digita il tuo Codice Fiscale</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="{% url 'receptions' %}" method="post" enctype='multipart/form-data'>
              {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Codice Fiscale</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.fiscal_code }}
                    </div>
                    <span class="text-error"> {{ errors }} </span>
                  </div>
                <hr class="my-4" />
                <button type="submit" class="btn btn-primary">Continua</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  const regex = /^[a-zA-Z]{6}[0-9]{2}[abcdehlmprstABCDEHLMPRST]{1}[0-9]{2}([a-zA-Z]{1}[0-9]{3})[a-zA-Z]{1}$/g;
  try{
    onScan.attachTo(document, {
      suffixKeyCodes: [13], // enter-key expected at the end of a scan
      reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
      onScan: function(sCode, iQty) { // Alternative to document.addEventListener('scan')
          if(sCode.startsWith("%")){
            document.getElementById("id_fiscal_code").value = "";
            var fiscal_code = sCode.substring(1,17);
            const fiscal_code_found = fiscal_code.match(regex);
            console.log(sCode, fiscal_code_found)
            if (fiscal_code_found){
              document.getElementById("id_fiscal_code").innerHTML = "<b>"+fiscal_code_found[0]+"</b>";
            }
          }
          else{
            document.getElementById("id_fiscal_code").innerHTML = sCode.replace(/\s/g, '');
          }
      },
      onKeyDetect: function(iKeyCode){ // output all potentially relevant key events - great for debugging!
        //document.getElementById("fiscal_code").innerHTML = 'Pressed: ' + iKeyCode;
      }
  });
  } catch(err){
    //document.getElementById("output").innerHTML = err + " " + err.message;
  }
</script>
{% endblock javascripts %}
