{% extends 'layouts/base-triage.html' %}

{% block title %} Conditions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- Header container -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-5"></div>
        </div>
        <div class="row" style="background-color: #00a99d; box-shadow: 0px 10px 10px; position: relative; z-index:10;">
            <div class="col-md-1 "></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <div class="com-triangle-left"></div>
            </div>
            <div class="col-md-6" style="margin:auto;">
                <span style="color: white; text-align: center;"><b>Selezionare causa del check-up</b></span>
            </div>
            <div class="col-md-1">
                <div class="com-triangle-right"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Header container -->

    <!-- Main communication div -->
    <div class="com-area">
        <div class="com-area-triangle"></div>
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for reason in reasons %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="com-area-doorbell-l">
                        <div class="form-check">
                            <button type="submit" name="{{reason.id}}" id="id_{{reason.id}}"></button>
                            <label for="id_{{reason.id}}">
                                {{reason.id}}
                            </label>
                        </div>
                    </div>
                {% else %}
                    <div class="com-area-doorbell-r">
                        <div class="form-check">
                            <button type="submit" name="{{reason.id}}" id="id_{{reason.id}}"></button>
                            <label for="id_{{reason.id}}">
                                {{reason.id}}
                            </label>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
    <!-- Main communication div -->

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
{% endblock content %}
