{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- Header container -->
    <div class="container" style="background-color: #00a99d">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"><i class="fas fa-arrow-right"></i></div>
            <div class="col-md-6">
                <p style="color: white;"><b>PRIMA DI UTILIZZARE IL SERVIZIO ACCETTARE LE CONDIZIONI</b></p>
            </div>
            <div class="col-md-1"><i class="fas fa-arrow-left"></i></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Header container -->

    <!-- Main communication div -->
    <div class="com-area">
        <div class="com-area-triangle"></div>
        <div class="com-area-out">
            <p class="normal-text">
                Ho letto i Termini di Utilizzo e l'Informativa sulla Privacy. 
                Acconsento al trattamento dei miei dati personali relativi al mio stato 
                di salute da parte di Pad Med s.r.l. con la finalità di fornirmi i servizi 
                erogati tramite questo dispositivo così come descritti nelle rispettive 
                condizioni d'uso.
            </p>
        </div>
        <div class="com-area-in">
            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" style="color: #21561e;" for="flexRadioDefault2">
                        ACCONSENTO
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" style="color: #7e0000;" for="flexRadioDefault1">
                        NON ACCONSENTO
                    </label>
                </div>
            </form>
        </div>
    </div>
    <!-- Main communication div -->

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
{% endblock content %}
