{% extends 'layouts/base-triage.html' %}

{% block title %} Video measuring {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  // progress bar //
  #progressBar {
    width: 90%;
    height: 35px;
    background-color: #5C5C5C;
  }
  #progressBar .bar {
    height: 100%;
    text-align: right;
    padding-top: 7px;
    line-height: 35px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #00a99d;
    box-sizing: border-box;
    color: yellow;
  }
  #progressComplete {
    display:none;
    padding-top: 7px;
    text-align: center;
    height: 35px;
  }
  .overlay {
    position: relative;
  }
  .overlay img{
    position:absolute;
    margin-top:10%;
    height:70%;
    width:auto;
    object-fit:cover;
    pointer-events:none;
    z-index:2;
  }
  /* ------------- */
</style>
{% endblock stylesheets %}
{% block content %}

    <!-- Header container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-5">
        </div>
      </div>
      <div class="row header-bar">
        <div class="col-md-2 "></div>
        <div class="col-md-1">
            <div class="com-triangle-left"></div>
        </div>
        <div class="col-md-6">
            <span><b>MANTENERE IL VISO DENTRO AL RIQUADRO E STARE FERMI</b></span>
        </div>
        <div class="col-md-1">
            <div class="com-triangle-right"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <!-- Header container -->

    <!-- Main communication div -->
    <div class="com-area-darker">
      <div class="com-area-triangle"></div>
      <div id="startButton" class="button"></div>
      <div class="com-area-out-base-video com-area-out-video overlay"> <!--rot-90-->
        {% if ROTATE_90_COUNTERCLOCKWISE %}
          <div class="flip-horizontal" style="width:500px; height:460px; overflow:hidden">
            <video  id="preview" style="width:110%; left: -10%; position:relative" autoplay muted>
            </video>
          </div>
        {% else %}
          <div class="flip-horizontal" style="width:500px; height:460px; overflow:hidden">
            <video  id="preview" style="width:110%; left: -10%; position:relative" autoplay muted>
            </video>
          </div>
        {% endif %}
        <div style="display:none">
          <div id="stopButton" class="button"></div>
          <video id="recording" width="500" height="500" controls></video>
        </div>
      </div>
      <div class="com-area-in">
        <div style="background-color: #828282">
          <div id="progressBar">
            <div class="bar"></div>
          </div>
        </div>
        <div id="progressComplete">
          <span></span>
        </div>
      </div>
    </div>
    <div class="eye-line-l">
      <img src="/static/assets/img/triage/eye-line.png" width="100px">
    </div>
    <div class="eye-line-label">
      OCCHI
    </div>
    <div class="eye-line-r">
      <img src="/static/assets/img/triage/eye-line.png" width="100px">
    </div>
    <!-- Main communication div -->

{% endblock content %}

{% block javascripts %}
<!-- Specific JS goes HERE --> 
    <script>

    let preview = document.getElementById("preview");
    let recording = document.getElementById("recording");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let logElement = document.getElementById("log");

    let recordingTimeMS = 48000;
    let p_measure_result;


    function log(msg) {
        //logElement.innerHTML += msg + "\n";
    }

    function wait(delayInMS) {
        return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    function startRecording(stream, lengthInMS) {
        let options = { mimeType: 'video/webm'}
        let recorder = new MediaRecorder(stream, options);
        let data = [];

        recorder.ondataavailable = event => data.push(event.data);
        recorder.start();
        log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

        let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
        });

        let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
        );

        return Promise.all([
            stopped,
            recorded
        ])
        .then(() => data);
    }

    async function getUserCameraID(){
      let devices = await navigator.mediaDevices.enumerateDevices();
      console.log("devices", devices);
      devices = devices.filter(function(device){
        return device.kind == 'videoinput';
      })
      if (devices.length == 0) return null;
      else{
        default_device = devices[0];
        let rakinda_device = devices.filter(function(device){return device.label.includes("JSK USB2.0 Camera RGB")})[0];
        if (rakinda_device){
          return rakinda_device.deviceId;
        } 
        else {
          return getCookie("videoId");
        }
      }
    }

    function getCookie (name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    function stop(stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    function stopMeasure(){
      stopButton.click();
    }

    function doMeasure(){
      startButton.click();
      let stop = setTimeout(stopMeasure, 53000);
    }

    function sendData(data, access_id) {
      let csrftoken = getCookie('csrftoken');
      let response=fetch("/triage/recordvideo/" + access_id + "/", {
      method: "post",
      body: data,
      headers: { "X-CSRFToken": csrftoken, "Content-Type": 'video/webm'},
      })
   }
   function getDevices() {
      return navigator.mediaDevices.enumerateDevices();
    }

    startButton.addEventListener("click", function() {
        getUserCameraID().then(devId => {
          devId = getCookie('videoId');
          navigator.mediaDevices.getUserMedia({
              video: {
                  deviceId: { exact: devId },
                  height: { min: 500, max: 500 },
                  width: { min: 500, max: 500 },
                  frameRate: { min: 15, ideal: 24, max: 30 },
                },
              audio: false
        }).then(stream => {
                preview.srcObject = stream;
                preview.captureStream = preview.captureStream || preview.mozCaptureStream;
                return new Promise(resolve => preview.onplaying = resolve);
              }).then(() => startRecording(preview.captureStream(), recordingTimeMS))
              .then (recordedChunks => {
                //console.log(recordedChunks, typeof recordedChunks)
                let recordedBlob = new Blob(recordedChunks, { type: 'video/webm' });
                recording.src = URL.createObjectURL(recordedBlob);  
                var url = "/triage/recordvideo/" + '{{access_id}}' + "/";
                var xhr = new XMLHttpRequest();
                var fd = new FormData();
                fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
                fd.append('video', recordedBlob);

                xhr.onreadystatechange = function() {
                  if (xhr.readyState === 4) {
                    response = eval('('+xhr.response+')' );
                    console.log("response",response);
                    if(response){
                      if(response.success){
                        var success = true;
                      } else {
                        var success = false;
                        var error = response['error'];
                      }
                    } else {
                      var success = false;
                      var error = "Nessuna risposta ricevuta dal server.";
                    }
                    const form = document.createElement('form');
                    form.method = "post";
                    const csfrtoken = document.createElement('input');
                    csfrtoken.name = "csrfmiddlewaretoken";
                    csfrtoken.type = "hidden";
                    csfrtoken.value = getCookie('csrftoken');
                    form.appendChild(csfrtoken);
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    const hiddenField_access_id = document.createElement('input');
                    hiddenField_access_id.type = 'hidden';
                    if (success){
                      form.action = "{% url 'patient_results' %}";
                      hiddenField.name = 'p_measure_result';
                      hiddenField.value = response['p_measure_result'];
                      hiddenField_access_id.name = "access_id";
                      hiddenField_access_id.value = {{access_id}};
                    } else {
                      form.action = "{% url 'patient_results_error' %}";
                      hiddenField.name = 'error';
                      hiddenField.value = error;
                      hiddenField_access_id.name = "access_id";
                      hiddenField_access_id.value = {{access_id}};
                    }
                    form.appendChild(hiddenField);
                    form.appendChild(hiddenField_access_id);
                    document.body.appendChild(form);
                    form.submit();
                  }
                }
                xhr.open("post", url, true);
                xhr.send( fd );
              })
              .catch(console.log(log));
        }, false)});

        

        stopButton.addEventListener("click", function() {
        stop(preview.srcObject);
        }, false);

        measure_started = setTimeout(doMeasure, 100);
      
    // ------------ Progress bar -------------------- //

    function progress(timeleft, timetotal, $element) {
      var progressBarWidth = timeleft * $element.width() / timetotal;
      $element.find('.bar').animate({ width: progressBarWidth }, 500).html(timeleft%60);
      if(timeleft > 0) {
          setTimeout(function() {
              progress(timeleft - 1, timetotal, $element);
          }, 1000);
      } else {
        show_complete();
      }
    };
    
    progress(50, 50, $('#progressBar'));

    function show_complete() {
      $('#progressBar').animate({ width: 0 }, 500);
      setTimeout(function() {
        $('#progressBar').hide();
        $('#progressComplete').show();
        ajax_progress_text_changes();
      }, 500);
    }

    var last_status = ""
    var steps = 0
    var old_text = ""
    function ajax_progress_text_changes(){
      $.ajax({
        type: "GET",
        url: "{% url 'get_access_status' %}",
        dataType: "json",
        data: {"access_id":{{access_id}}},
        complete: function() {},
        success: function (data) {
          if (last_status != data.status){
            var new_text = data.status;
          } else {
            if (steps < 3){
              var new_text = old_text + ".";
              steps = steps + 1;
            } else {
              var new_text = data.status;
              steps = 0;
            }
          }
          $('#progressComplete span').html(new_text);
          last_status = data.status;
          old_text = new_text;
          setTimeout(function(){ajax_progress_text_changes();}, 1000);
        },
        error: function() {
          alert( "Un errore ha impedito la comunicazione con il server. La barra di progresso non verrà aggiornata." );
        }
      });
    }

    {% comment %} function progress_text_changes(){
      var text_list = [
        ["Analisi dei dati in corso",1],
        ["Analisi dei dati in corso.",1],
        ["Analisi dei dati in corso..",1],
        ["Analisi dei dati in corso...",2],
        ["Estrazione dati flusso sanguigno",1],
        ["Estrazione dati flusso sanguigno.",1],
        ["Estrazione dati flusso sanguigno..",1],
        ["Estrazione dati flusso sanguigno...",2],
        ["Calcolo dei parametri biometrici",1],
        ["Calcolo dei parametri biometrici.",1],
        ["Calcolo dei parametri biometrici..",1],
        ["Calcolo dei parametri biometrici...",1.5],
        ["Preparazione formato di output",1],
        ["Preparazione formato di output.",1],
        ["Preparazione formato di output..",1],
        ["Preparazione formato di output...",1],
      ];
      var progression = 0;
      text_list.forEach(function (item, index) {
        setTimeout(function() {
          $('#progressComplete span').html(item[0]);
        }, progression*1000);
        progression += item[1]
      });
    } {% endcomment %}

    </script>
{% endblock javascripts %}