{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Header container -->
<div class="container-fluid">
  <div class="row"><div class="col-md-12 mb-5"></div></div>
  <div class="row" style="background-color: #00a99d; box-shadow: 0px 10px 10px; position: relative; z-index:10;">
      <div class="col-md-1 "></div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
          <div class="com-triangle-left"></div>
      </div>
      <div class="col-md-6" style="margin:auto; text-align:center;">
          <span style="color: white;"><b>SELEZIONARE CAUSA CHECK UP</b></span>
      </div>
      <div class="col-md-1">
          <div class="com-triangle-right"></div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
  </div>
</div>
<!-- Header container -->
<!-- Main communication div -->
<div class="com-area">
  <div class="com-area-triangle"></div>
        <div class="row mt-5">
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.0.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.0.label }}</b>
            </label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.1.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.1.label }}</b>
            </label>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.2.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.2.label }}</b>
            </label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.3.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.3.label }}</b>
            </label>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.4.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.4.label }}</b>
            </label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.5.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.5.label }}</b>
            </label>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.6.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.6.label }}</b>
            </label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="button-check-input" name="reason" id="reason" onclick="location.href='{% url 'receptions_accessreason' access_id=access_id reason_id=reasons.7.id %}'">
              <img class="button-circle">
            </button>
            <label for="reason" style="margin: auto;">
              <b>{{ reasons.7.label }}</b>
            </label>
          </div>
        </div>
</div>

<!-- Main communication div -->
<!--
    <div class="container-fluid mt--7">
      <div class="row justify-content-center">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Perché ti stai recando al pronto soccorso?</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row triage-reasons">
                {% for reason in reasons %}
                    <div class="col-lg-4 col-md-6 m-3">
                    <a class="btn btn-lg btn-primary" style="width: 250px;" href="{% url 'receptions_accessreason' access_id=access_id reason_id=reason.id %}">
                        
                        {% if reason.label == 'INCIDENTE' %}
                        <div>
                            <i class="fas fa-car-crash fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'MALESSERE'%}
                        <div>
                            <i class="fas fa-heartbeat fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'ALTRO'%}
                        <div>
                            <i class="fas fa-thermometer-three-quarters fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'CONTUSIONE'%}
                        <div>
                            <i class="fas fa-crutch fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'FERITA'%}
                        <div>
                            <i class="fas fa-band-aid fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'DOLORE ADDOMINALE'%}
                        <div>
                            <i class="fas fa-capsules fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'DOLORE GENERALE'%}
                        <div>
                            <i class="fas fa-frown fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% elif reason.label == 'INFORTUNIO SUL LAVORO'%}
                        <div>
                            <i class="fas fa-user-injured fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% else%}
                        <div>
                            <i class="fas fa-camera fa-2x"></i>
                            <span>{{ reason.label }}</span>
                        </div>
                        {% endif %}
                    </a>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
