{% extends 'layouts/base-triage.html' %}

{% block title %} Conditions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- Header container -->

    <div class="container-fluid">
        <div class="row"><div class="col-md-12 mb-5"></div></div>
        <div class="row" style="background-color: #00a99d; box-shadow: 0px 10px 10px; position: relative; z-index:10;">
            <div class="col-md-1 "></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <div class="com-triangle-left"></div>
            </div>
            <div class="col-md-6" style="margin:auto;">
                <span style="color: white; text-align: center;"><b>PRIMA DI UTILIZZARE IL SERVIZIO ACCETTARE LE CONDIZIONI</b></span>
            </div>
            <div class="col-md-1">
                <div class="com-triangle-right"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Header container -->

    <!-- Main communication div -->
    <div class="com-area">
        <div class="com-area-triangle"></div>
        <div class="com-area-out">
            <p class="normal-text">
                Ho letto i Termini di Utilizzo e l'Informativa sulla Privacy. 
                Acconsento al trattamento dei miei dati personali relativi al mio stato 
                di salute da parte di Pad Med s.r.l. con la finalità di fornirmi i servizi 
                erogati tramite questo dispositivo così come descritti nelle rispettive 
                condizioni d'uso.
            </p>
        </div>
        <div class="com-area-in">
            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-check">
                    <button type="submit" class="button-check-input" name="input_true" id="id_input_true">
                        <img class="image-check v-image-check">
                    </button>
                    <label class="label-check v-label-check" for="id_input_true">
                        ACCONSENTO
                    </label>
                </div>
            </form>
            <div class="form-check">
                <button type="checkbox" class="button-check-input" name="input_false" id="id_input_false">
                    <img class="image-check x-image-check">
                </button>
                <label class="label-check x-label-check" for="id_input_false">
                    NON ACCONSENTO
                </label>
            </div>
        </div>
    </div>
    <!-- Main communication div -->

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
{% endblock content %}
