{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  input[name="height"] {
    width:100%;
  }
</style>
{% endblock stylesheets %}

{% block content %}    
  <!-- Header container -->
  <div class="container-fluid">
      <div class="row"><div class="col-md-12 mb-5"></div></div>
      <div class="row header-bar">
          <div class="col-md-2 "></div>
          <div class="col-md-1">
              <div class="com-triangle-left"></div>
          </div>
          <div class="col-md-6">
              <span><b>INSERIRE I PROPRI DATI ANAGRAFICI</b></span>
          </div>
          <div class="col-md-1">
              <div class="com-triangle-right"></div>
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
  <!-- Header container -->
  
  <!-- Main communication div -->
  {% comment %} <div class="com-area">
    <div class="com-area-triangle"></div>
    <div class="com-area-out" style="text-align:center;">
    </div>
  </div> {% endcomment %}
  <div class="com-area" style="margin: -20px auto auto auto; padding-top:50px;width: 670px;" >
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <form id="form" action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}

            {{ form.patient }}
            {{ form.gender }}
            {{ form.age }}

            <div style="border-left: solid 1px gray;border-right: solid 1px gray;border-radius:10px;" class="form-group col-xs-12 col-md-12">
              <label for="{{form.height.name}}" title="">{{ form.height.label }}:</label>
              <span id="#id_height_value" style="padding-left:10px;"></span>
              <div>
                {{ form.height }}
              </div>
              {{form.height.errors}}
            </div>

            <input type="submit" value="Submit">
          </form>
        </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!-- Main communication div -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  $(document).ready(function(){
    show_height();
    $("#id_height_value").change(function(){show_height()});
  });

  function show_height(){
    var value = $("#id_height").val();
    $("#id_height_value").text(value);
    console.log(value)
  }

</script>
{% endblock javascripts %}
