{% extends 'layouts/base-triage.html' %}

{% block title %} Access reasons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row"><div class="col-md-12 mb-5"></div></div>
    <div class="row header-bar">
        <div class="col-md-2 "></div>
        <div class="col-md-1">
            <div class="com-triangle-left"></div>
        </div>
        <div class="col-md-6">
            <span><b>SELEZIONARE IL MOTIVO DEL CHECK UP</b></span>
        </div>
        <div class="col-md-1">
            <div class="com-triangle-right"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Header container -->

  <!-- Main communication div -->
  {% for reason in reasons %}
    <form id="reason_form" action="" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
    </form>
  {% endfor %}

  <div class="row cit-main-row">
    <div class="col-md-3 cit-area-label">
      {% for reason in reasons %}
        {% if not forloop.counter|divisibleby:2 %}
          <div class="cit-label-l">
            <label for="id_{{reason.id}}">
              <b>{{reason.reason}}</b>
            </label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6 cit-area">
      <div class="com-area-triangle"></div>
      {% for reason in reasons %}
        {% if not forloop.counter|divisibleby:2 %}
          <div class="row cit-line">
            <div class="col-md-6 cit-command-l">
              <div class="cit-triangle-l"></div>
              <button class="button-check-input cit-button-l" type="submit" form="reason_form" value="{{reason.id}}" name="reason_id">
                <img class="button-circle">
              </button>
            </div>
        {% else %}
            <div class="col-md-6 cit-command-r">
              <div class="cit-triangle-r"></div>
              <button class="button-check-input cit-button-r"  type="submit" form="reason_form" value="{{reason.id}}" name="reason_id">
                <img class="button-circle">
              </button>
            </div>
          </div>
        {% endif %}
        {% if forloop.last %}
          {% if not forloop.counter|divisibleby:2 %}
              <div class="col-md-4 cit-command-r" style="visibility:hidden;">
                <button class="button-check-input" name="hiddenbutton" id="id_hiddenbutton">
                  <img class="button-circle">
                </button>
                <div class="cit-triangle-r"></div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-3 cit-area-label">
      {% for reason in reasons %}
        {% if forloop.counter|divisibleby:2 %}
          <div class="cit-label-r">
            <label for="id_{{reason.id}}">
              <b>{{reason.reason}}</b>
            </label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

<!-- Main communication div -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
