{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- Header container -->
    <div class="container" style="background-color: #00a99d">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i class="fas fa-arrow-right"></i>
          </div>
            <div class="col-md-6">
               <p style="color: white;"><b>PRIMA DI UTILIZZARE IL SERVIZIO ACCETTARE LE CONDIZIONI</b></p>
            </div>
            <div class="col-md-1">
              <i class="fas fa-arrow-left"></i>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <!-- Header container -->
<button id="scanButton">Scan</button>
<button id="writeButton">Scan</button>
<p id="output"></p>
<p id="devices"></p>

<h1>
  print me
  </h1>
  <button onclick="window.print();">
  Print Me
  </button>


  <a onclick="sendToQuickPrinterChrome();">
    <br>Print Button</a>
<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
function sendToQuickPrinterChrome(){

  var commandsToPrint =  String('{{print_command}}');
  var textEncoded = encodeURI(commandsToPrint);
  window.location.href="intent://"+textEncoded+"#Intent;scheme=quickprinter;package=pe.diegoveloper.printerserverapp;end;";
}

</script>
{% endblock javascripts %}
{% endblock content %}
