{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- Header container -->
    <div class="container" style="background-color: #00a99d">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i class="fas fa-arrow-right"></i>
          </div>
            <div class="col-md-6">
               <p style="color: white;"><b>PRIMA DI UTILIZZARE IL SERVIZIO ACCETTARE LE CONDIZIONI</b></p>
            </div>
            <div class="col-md-1">
              <i class="fas fa-arrow-left"></i>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <!-- Header container -->
<button id="scanButton">Scan</button>
<button id="writeButton">Scan</button>
<p id="output"></p>
<p id="devices"></p>

<h1>
  print me
  </h1>
  <button onclick="window.print();">
  Print Me
  </button>


  <a onclick="sendToQuickPrinterChrome();">
    <br>Print Button</a>
<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  //onScan.attachTo(document);
// Register event listener

async function getUserCameraID(){
  let devices = await navigator.mediaDevices.enumerateDevices();
  return devices
  for (device in devices){
    document.getElementById("output").innerHTML = 'DeviceID: ' + device.deviceId + ';' + "kind:" + device.kind; 
  }
  devices = devices.filter(function(device){
    return device.kind == 'videoinput';
  })
  if (devices.length == 0) return null;
  else{
    default_device = devices[0];
    let rakinda_device = devices.filter(function(device){return device.label.includes("JSK USB2.0 Camera RGB")})[0];
    if (rakinda_device){
      return rakinda_device.deviceId;
    } 
    else {
      return default_device.deviceId;
    }
  }
}

getUserCameraID().then(devices => {
  for (device in devices){
    console.log(devices[device])
   document.getElementById("output").innerHTML += 'DeviceID: ' + devices[device].deviceId + '; ' + "kind:" + devices[device].kind + " label:" + devices[device].label + "<br>";
  }
}
);

try{
  onScan.attachTo(document, {
    suffixKeyCodes: [13], // enter-key expected at the end of a scan
    reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
    onScan: function(sCode, iQty) { // Alternative to document.addEventListener('scan')
        document.getElementById("output").innerHTML = 'Scanned: ' + iQty + 'x ' + sCode; 
    },
    onKeyDetect: function(iKeyCode){ // output all potentially relevant key events - great for debugging!
      document.getElementById("output").innerHTML = 'Pressed: ' + iKeyCode;
    }
});
} catch(err){
  //document.getElementById("output").innerHTML = err + " " + err.message;
}
  function sendToQuickPrinterChrome(){
    var commandsToPrint =
                 "<LOGO>" +
                         "<BIG><BOLD><CENTER> CAZZO <BR>\n" +
                         "<CENTER>Bubino<BR>\n" +
                         "<CENTER>Il bubino<BR>\n" +
                         "<BOLD>Bay<BR>\n" +
                         "<LEFT>Che va<BR>\n" +
                         "<RIGHT><BOLD>A MUMBAII<BR>\n" +
                         "<BR>\n" +
                         "<CUT>\n" +
                         "<DRAWER>\n" // OPEN THE CASH DRAWER
                 ;
     var textEncoded = encodeURI(commandsToPrint);
     window.location.href="intent://"+textEncoded+"#Intent;scheme=quickprinter;package=pe.diegoveloper.printerserverapp;end;";
 }


</script>
{% endblock javascripts %}
{% endblock content %}
