{% extends 'layouts/base-triage.html' %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-5">
        </div>
      </div>
      <div class="row header-bar">
        <div class="col-md-2 "></div>
        <div class="col-md-1">
            <div class="com-triangle-left"></div>
        </div>
        <div class="col-md-6">
            <span><b>SELEZIONARE LA CAMERA</b></span>
        </div>
        <div class="col-md-1">
            <div class="com-triangle-right"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <!-- Header container -->

    <!-- Main communication div -->
    <div class="com-area-darker">
      <div class="com-area-triangle"></div>
      <div class="com-area-out-base-video com-area-out-video overlay">
        <div id="startButton" class="button"></div>
        <select id="video-source" style="width: 95%"></select>
        <div style="display:none">
            <label>Select Audio Source (Microphone)</label>
            <select id="audio-source"></select>
        </div>
        <label class="mt-3 mb-3"> Anteprima:</label>
        <!-- Important to set autoplay to true, otherwise the video won't play anything at the beginning -->
        <video autoplay="true" id="player" controls muted></video>
        <p id="output" class="mt-3" style="display:none; width:100%; font-weight:bold;"></p>
        <button class="mb-3" onclick="selectVideo()">Seleziona camera</button>
    </div>
    <!-- Main communication div -->

{% endblock content %}

{% block javascripts %}

<script>
    var cached_videoSource
    let videoSourcesSelect = document.getElementById("video-source");
    let audioSourcesSelect = document.getElementById("audio-source");
    let videoPlayer = document.getElementById("player");
    // Create Helper to ask for permission and list devices
    let MediaStreamHelper = {
        // Property of the object to store the current stream
        _stream: null,
        // This method will return the promise to list the real devices
        getDevices: function() {
            return navigator.mediaDevices.enumerateDevices();
        },
        // Request user permissions to access the camera and video
        requestStream: function() {
            if (this._stream) {
                this._stream.getTracks().forEach(track => {
                    track.stop();
                });
            }
            const audioSource = audioSourcesSelect.value;
            const videoSource = videoSourcesSelect.value;
            update_text_video_source(videoSource);
            const constraints = {
                // audio: {
                //     deviceId: audioSource ? {exact: audioSource} : undefined
                // },
                video: {
                    deviceId: videoSource ? {exact: videoSource} : undefined
                }
            };
            return navigator.mediaDevices.getUserMedia(constraints);
        }
    };

    $(document).ready(function(){
        read_available_devices();
        define_select_behavior();
        stream_video();
    });

    function update_text_video_source(videoSource){
        document.getElementById("output").innerHTML = 'Device ID selezionato: ' + videoSource;
        document.getElementById("output").style.display = 'block';
    }

    function selectVideo(){
        let videoId = document.getElementById("video-source").value;
        setCookie("videoId", videoId, 1000);
        update_text_video_source(document.getElementById("video-source").innerHTML);
    }

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function define_select_behavior(){
        videoSourcesSelect.onchange = function(){
            MediaStreamHelper.requestStream().then(function(stream){
                MediaStreamHelper._stream = stream;
                videoPlayer.srcObject = stream;
            });
        };
    }

    function read_available_devices(){
        // You can now list the devices using the Helper
        MediaStreamHelper.getDevices().then((devices) => {
            var cash_last_video_option = null;
            // Iterate over all the list of devices (InputDeviceInfo and MediaDeviceInfo)
            devices.forEach((device) => {
                let option = new Option();
                option.value = device.deviceId;

                // According to the type of media device
                switch(device.kind){
                    // Append device to list of Cameras
                    case "videoinput":
                        option.text = device.label || `Camera ${videoSourcesSelect.length + 1}`;
                        videoSourcesSelect.appendChild(option);
                        break;
                    // Append device to list of Microphone
                    case "audioinput":
                        option.text = device.label || `Microphone ${videoSourcesSelect.length + 1}`;
                        audioSourcesSelect.appendChild(option);
                        break;
                }
            });
        }).catch(function (e) {
            console.log(e.name + ": " + e.message);
        });
    }

    function stream_video(){
        // Request streams (audio and video), ask for permission and display streams in the video element
        MediaStreamHelper.requestStream().then(function(stream){
            // Store Current Stream
            MediaStreamHelper._stream = stream;
            // Select the Current Streams in the list of devices
            // audioSourcesSelect.selectedIndex = [...audioSourcesSelect.options].findIndex(option => option.text === stream.getAudioTracks()[0].label);
            videoSourcesSelect.selectedIndex = [...videoSourcesSelect.options].findIndex(option => option.text === stream.getVideoTracks()[0].label);
            // Play the current stream in the Video element
            videoPlayer.srcObject = stream;
        }).catch(function(err){
            console.log(err);
        });   
    }

</script>
{% endblock javascripts %}