<div class="card-header border-0">
  <h3 class="mb-0">In attesa</h3>
</div>
<div class="table-responsive">
  <table id="data_table" class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">Codice</th>
        <th scope="col">ID - Codice Fiscale</th>
        <th scope="col">Ragione</th>
        <th scope="col">In attesa da</th>
        <th scope="col">Pressione ({{units.BP_DIASTOLIC}})</th>
        <th scope="col">Battito ({{units.HR_BPM}})</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td scope="row" data-search="{%if item.is_white %}white{%elif item.is_green%}green{%elif item.is_yellow%}yellow{%endif%}" data-order="{{item.waiting_minutes_cache}}">
            <div class="media align-items-center">
              {% if item.is_white %}
                <div class="icon-sm bg-white rounded-circle border"></div>
              {% elif item.is_green %}
                <div class="icon-sm bg-green rounded-circle border"></div>
              {% elif item.is_yellow %}
                <div class="icon-sm bg-yellow rounded-circle border"></div>
              {% endif %}
            </div>
          </td>

          <td scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm">{{item.id}} - {{item.patient.fiscal_code|default_if_none:""}}</span>
              </div>
            </div>
          </td>

          <td scope="row">
            {{item.access_reason.reason|default_if_none:""}}
          </td>

          <td scope="row" data-search="{{item.waiting_fmt_cache}}" data-order="{{item.waiting_minutes_cache}}">
            <div class="d-flex align-items-center">
              <div>
                <span class="mr-2">{{item.waiting_fmt_cache}}</span>
                <div>
                  <div class="progress">
                    {% if item.waiting_range_cache <= 1 %}
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{item.waiting_cache}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.waiting_cache}}%;"></div>
                    {% elif item.waiting_range_cache == 2 %}
                      <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="{{item.waiting_cache}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.waiting_cache}}%;"></div>
                    {% elif item.waiting_range_cache >= 3 %}
                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{item.waiting_cache}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.waiting_cache}}%;"></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td scope="row" data-order="{{item.hresults.BP_DIASTOLIC.order}}">
            <div class="media align-items-center">
              {% if item.hresults.BP_DIASTOLIC.alarm == 0 %}
                <div class="icon-sm text-darkgreen">
                  <i class="fas fa-stopwatch"></i>
                </div>
              {% elif item.hresults.BP_DIASTOLIC.alarm == 1 %}
                <div class="icon-sm text-darkyellow">
                  <i class="fas fa-stopwatch"></i>
                </div>
              {% elif item.hresults.BP_DIASTOLIC.alarm == 2 %}
                <div class="icon-sm text-darkred">
                  <i class="fas fa-stopwatch"></i>
                </div>
              {% elif item.hresults.BP_DIASTOLIC.alarm == 3 %}
                <div class="icon-sm text-darkred blinking">
                  <i class="fas fa-stopwatch"></i>
                </div>
              {% endif %}
              <div class="media-body">
                <span class="mr-2">
                  {{item.hresults.BP_DIASTOLIC.value}} {% if item.hresults.BP_DIASTOLIC.stdev %}&#177; {{item.hresults.BP_DIASTOLIC.stdev}}{% endif %}
                </span>
                /
                <span class="mr-2">
                  {{item.hresults.BP_SYSTOLIC.value}} {% if item.hresults.BP_SYSTOLIC.stdev %}&#177; {{item.hresults.BP_SYSTOLIC.stdev}}{% endif %}
                </span>
              </div>
            </div>
          </td>

          <td scope="row" data-order="{{item.hresults.HR_BPM.order}}">
            <div class="media align-items-center">
              {% if item.hresults.HR_BPM.alarm == 0 %}
                <div class="icon-sm text-darkgreen">
                  <i class="fas fa-heartbeat"></i>
                </div>
              {% elif item.hresults.HR_BPM.alarm == 1 %}
                <div class="icon-sm text-darkyellow">
                  <i class="fas fa-heartbeat"></i>
                </div>
              {% elif item.hresults.HR_BPM.alarm == 2 %}
                <div class="icon-sm text-darkred">
                  <i class="fas fa-heartbeat"></i>
                </div>
              {% elif item.hresults.HR_BPM.alarm == 3 %}
                <div class="icon-sm text-darkred blinking">
                  <i class="fas fa-heartbeat"></i>
                </div>
              {% endif %}
              <div class="media-body">
                <span class="mr-2">{{item.hresults.HR_BPM.value}} {% if item.hresults.HR_BPM.stdev %}&#177; {{item.hresults.HR_BPM.stdev}}{% endif %}</span>
              </div>
            </div>
          </td>

          <td class="text-right">
            <div class="dropdown">
              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{% url "access" id=item.id %}">Dettaglio</a>
                <form class="date-form" name="date-form-{{item.id}}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="access_id" value={{item.id}}>
                  {% if item.exit_date %}
                    <input type="submit" class="dropdown-item enter-patient" value="Segna come non completato">
                    <input type="hidden" name="action" value="enter">
                  {% else %}
                    <input type="submit" class="dropdown-item enter-patient" value="Segna come completato">
                    <input type="hidden" name="action" value="exit">
                  {% endif %}
                </form>
                <a class="dropdown-item" href="{{settings.FULL_URL}}/media/tmp/{{item.id}}.avi">Scarica Video</a>
                {% comment %} <a class="dropdown-item" href="#">Stampa scheda</a> {% endcomment %}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>