{% extends 'layouts/base-triage-pharma.html' %}

{% load tags humanize  %}

{% block title %} Receptions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  body {
    overflow-y: hidden;
    font: 30px/100% AcuminVariableConcept, sans-serif;
    background: url("/static/assets/img/pharma/background-pharma-body.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
</style>{% endblock stylesheets %}

{% block content %}    
  <!-- Header container -->
  <div class="row pharma-header-bar">
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">
        <img width="35%" height="80%" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-4 vertical-center">
        <span class="text-white">STRISCIARE LA TESSERA SANITARIA<br>NEL LETTORE</span>
    </div>
    <div class="col-md-2 align-left">
        <img width="35%" height="80%" class="flip-horizontal" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-2"></div>
</div>
  <!-- Header container -->
  <!-- Main communication div -->
  <div class="pharma-area">
    <div class="pharma-area-triangle vertical-center"></div>
    <div class="vertical-center">
        <img width="35%" class="scan-img" src="/static/assets/img/triage/TS.png">
    </div>
    <div>
      {% if use_card_reader and request.user.appuser.use_card_reader %}
          <input type="text" id="id_fiscal_code" class="pharma-text-box" autofocus  placeholder="CODICE FISCALE" style="text-align:center"/>
        {% else %}
          <form id="reason_form" action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{form.fiscal_code|add_css_class_attr:'pharma-text-box ml-auto mr-auto'}}
            <input type="text" value={{is_pharma}} name="is_pharma" id="is_pharma" style="display: none">
            <input type="submit" style="display: none" class="pharma-text-box" value="Submit">
          </form>    
      {% endif %}
    </div>
</div>
<div class="vertical-center">
    <img class="logo-footer" onclick="">
</div>
  <!-- Main communication div -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  const regex = /^[a-zA-Z]{6}[0-9]{2}[abcdehlmprstABCDEHLMPRST]{1}[0-9]{2}([a-zA-Z]{1}[0-9]{3})[a-zA-Z]{1}$/g;

  function getCookie (name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  try{
    onScan.attachTo(document, {
      suffixKeyCodes: [13], // enter-key expected at the end of a scan
      reactToPaste: false, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
      onScan: function(sCode, iQty) { // Alternative to document.addEventListener('scan')
          if(sCode[0] === "%"){
            document.getElementById("id_fiscal_code").value = "";
            var fiscal_code = sCode.substring(1,17);
            const fiscal_code_found = fiscal_code.match(regex);
            console.log(sCode, fiscal_code_found)
            if (fiscal_code_found){
              document.getElementById("id_fiscal_code").value = fiscal_code_found[0];
              const form = document.createElement('form');
              form.method = "post";
              form.action = "{% url 'receptions' %}";
              const csfrtoken = document.createElement('input');
              csfrtoken.name = "csrfmiddlewaretoken";
              csfrtoken.type = "hidden";
              csfrtoken.value = getCookie('csrftoken');
              form.appendChild(csfrtoken);
              const hiddenField = document.createElement('input');
              hiddenField.type = 'hidden';
              hiddenField.name = 'fiscal_code';
              hiddenField.value = fiscal_code_found[0];
              form.appendChild(hiddenField);
              document.body.appendChild(form);
              form.submit();
            }
          }
          /*else{
            let fiscal_code_element = document.getElementById("id_fiscal_code")
            let fc = sCode.replace(/\s/g, '');
            fiscal_code_element.innerHTML = fc;
            const form = document.createElement('form');
            form.method = "post";
            form.action = "{% url 'receptions' %}";
            const csfrtoken = document.createElement('input');
            csfrtoken.name = "csrfmiddlewaretoken";
            csfrtoken.type = "hidden";
            csfrtoken.value = getCookie('csrftoken');
            form.appendChild(csfrtoken);
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'fiscal_code';
            hiddenField.value = fc;
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
          }*/
      },
      onKeyDetect: function(iKeyCode){ // output all potentially relevant key events - great for debugging!
        //document.getElementById("fiscal_code").innerHTML = 'Pressed: ' + iKeyCode;
      }
  });
  } catch(err){
    console.log(err);
  }
</script>
{% endblock javascripts %}
