{% extends 'layouts/base-triage-pharma.html' %}

{% block title %} Conditions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    body {
        font: 30px/100% AcuminVariableConcept, sans-serif;
        background: url("/static/assets/img/pharma/background-pharma-body.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<!-- Header container -->
<div class="row pharma-header-bar">
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">
        <img width="20%" height="80%" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-4 vertical-center">
        <span class="text-white">PRIMA DI INIZIARE <br>SERVE IL TUO CONSENSO</span>
    </div>
    <div class="col-md-2 align-left">
        <img width="20%" height="80%" class="flip-horizontal" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-2"></div>
</div>
<!-- Header container -->

<!-- Main communication div -->
<div class="pharma-area">
    <div class="pharma-area-triangle vertical-center"></div>
    <div class="pharma-area-out vertical-center">
        <div class="row">
            <div class="col-md-12 vertical-center">
                <p class="conditions-text p-2">
                    Ho letto i Termini di Utilizzo e l'Informativa
                    sulla Privacy. Acconsento al trattamento
                    dei miei dati personali relativi al mio stato
                    di salute da parte di Pad Med s.r.l. con la finalità
                    di fornirmi i servizi erogati tramite
                    questo dispositivo così come descritti
                    nelle rispettive condizioni d'uso.
                </p>
            </div>
        </div>
    </div>
    <div class="vertical-center">
        <a class="button-info" onclick="openModal()">
            <img class="button-info" onclick="openModal()">
        </a>
    </div>
    <div class="d-flex justify-content-around mt-5">
        <div class="col-md-6 vertical-center">
            <label class="x-label-check" for="id_input_false" style="font-size: 20px">
                NON ACCONSENTO
            </label>
        </div>
        <div class="col-md-6 vertical-center">
            <label class="v-label-check" for="id_input_true" style="font-size: 20px">
                ACCONSENTO
            </label>
        </div>
    </div>
        <div class="d-flex justify-content-around">
            <div>
                <div class="form-check">
                    <img class="button-check-red" onclick="refuse()">
                </div>
                <a href="{% url 'splash' %}" style="display: none;" id="#goPrev"></a>
            </div>
            <div>
                <form action="" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-check">
                        <img type="submit" class="button-check-green" onclick="submitForm()"/>
                    </div>
                    <button type="submit" style="display: none;" id="#goOn"></button>
                </form>
            </div>
        </div>
</div>
<div class="vertical-center">
    <img class="logo-footer" onclick="">
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header modal-lg">
                <h3 class="modal-title">INFORMATIVA SULLA PRIVACY</h3>
                <button type="button" class="close" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-lg">
                <strong>Generale</strong></br>
                Si prega di leggere attentamente le presenti Condizioni prima di utilizzare i Servizi PadMed.
                Accedendo o utilizzando i Servizi, l'utente dichiara di aver letto, compreso e accettato di essere
                legalmente vincolato da queste Condizioni. Lei dichiara di possedere tutta l'autorità legale necessaria
                per accettare questi Termini a nome suo. Se non accetta di essere vincolato da questi Termini nella loro
                interezza, non può utilizzare i Servizi</br></br>
                <strong>Politica sulla privacy</strong></br>
                Accedendo o utilizzando i Servizi PadMed, l'utente accetta che possiamo raccogliere e utilizzare le sue
                informazioni di identificazione personale e altri dati (come altezza, peso, età, sesso, ecc.) in
                conformità con l'Informativa sulla privacy del GDPR.
                Il trattamento dei dati personali si basa sull'Art. 6. (1) (a) GDPR e sull'Art. 6. (1) (b) GDPR. La base
                giuridica per il trattamento dei dati sensibili (dati sanitari) è l'Art. 9 (2) (a) GDPR, cioè il tuo
                consenso esplicito.</br></br>
                <strong>I NOSTRI SERVIZI NON SONO DESTINATI A SCOPI MEDICI.</strong></br>
                I SERVIZI NON OFFRONO ALCUN TIPO DI CONSULENZA MEDICA E NON SONO DESTINATI AD ALCUN USO O SCOPO MEDICO.
                I NOSTRI SERVIZI SONO INTESI SOLO PER IL BENESSERE GENERALE.
                LE MISURAZIONI ESTIMATIVE ("MISURAZIONI") FORNITE ALL'UTENTE DI STATI FISIOLOGICI E PSICOLOGICI TRA CUI
                LA FREQUENZA CARDIACA, LO STRESS E LA PRESSIONE SANGUIGNA NON DEVONO ESSERE TRATTATE COME CONSIGLI
                MEDICI.
                LE MISURAZIONI CHE VI FORNIAMO NON SONO DESTINATE AD ESSERE UTILIZZATE PER SCOPI MEDICI O PER
                DIAGNOSTICARE, TRATTARE, CURARE O PREVENIRE QUALSIASI MALATTIA, DISTURBO O LESIONE. NELLA MISURA MASSIMA
                CONSENTITA DALLA LEGGE APPLICABILE, L'UTENTE ACCETTA ESPRESSAMENTE CHE NON STIAMO FORNENDO ALCUN
                CONSIGLIO MEDICO ATTRAVERSO I NOSTRI SERVIZI.
                TUTTI I CONTENUTI FORNITI DAI NOSTRI SERVIZI, COMPRESE LE MISURAZIONI, NON SONO DESTINATI AD ESSERE E
                NON DEVONO ESSERE UTILIZZATI AL POSTO DI (A) IL CONSIGLIO DEL VOSTRO MEDICO O DI ALTRI PROFESSIONISTI
                DEL SETTORE MEDICO, E (B) UNA VISITA, CHIAMATA O CONSULTAZIONE CON IL VOSTRO MEDICO O ALTRI
                PROFESSIONISTI DEL SETTORE MEDICO. </br></br>
                L'USO DEI NOSTRI SERVIZI NON COSTITUISCE O CREA UN RAPPORTO MEDICO-PAZIENTE, TERAPISTA-PAZIENTE O ALTRO
                PROFESSIONISTA SANITARIO TRA PADMED E L’UTENTE.</br></br>
                <strong>Accuratezza</strong></br>
                LE MISURAZIONI FORNITE ALL'UTENTE SI BASANO SU INDICATORI E STANDARD SVILUPPATI DA PADMED STESSA E SONO
                SOLO PER SCOPI GENERALI DI BENESSERE, SENZA ALCUNA DICHIARAZIONE O GARANZIA, ESPRESSA O IMPLICITA. ANCHE
                SE FACCIAMO OGNI SFORZO PER FORNIRE MISURE ESTIMATIVE ACCURATE, NON DIAMO ALCUNA GARANZIA E DECLINIAMO
                OGNI RESPONSABILITÀ PER QUALSIASI ACCURATEZZA, AFFIDABILITÀ, DISPONIBILITÀ, SICUREZZA, COMPLETEZZA O USO
                CORRETTO DELLE MISURE, DEI CONTENUTI E DI QUALSIASI ALTRA INFORMAZIONE O RISULTATO CHE RICEVI ATTRAVERSO
                I SERVIZI.</br></br>
                <strong>Esclusione di garanzie e danni</strong></br>
                L'USO DEI SERVIZI, DEL SOFTWARE E DEI CONTENUTI (COLLETTIVAMENTE, LA "SOLUZIONE PADMED"), E QUALSIASI
                APPLICAZIONE DI TERZE PARTI È INTERAMENTE A RISCHIO DELL'UTENTE, E AD ECCEZIONE DI QUANTO DESCRITTO IN
                QUESTI TERMINI, SONO FORNITI "COME SONO".
                PADMED, LE SUE FILIALI E I SUOI AFFILIATI E FORNITORI NON GARANTISCONO CHE LA SOLUZIONE PADMED SIA O
                SARÀ SICURA, PRIVA DI BUG, VIRUS, INTERRUZIONE, PERDITA DI DATI, ERRORI, FURTO O DISTRUZIONE.
                PADMED DECLINA OGNI RESPONSABILITÀ PER QUALSIASI USO IMPROPRIO O CATTIVO USO DEI SERVIZI (COME QUALSIASI
                MISURAZIONE NON AUTORIZZATA DI QUALSIASI ALTRA PERSONA SENZA IL CONSENSO ESPLICITO DI QUEST'ULTIMA), O
                USO DEI SERVIZI PER QUALSIASI SCOPO NON PREVISTO.</br></br>
                <strong>Politica di feedback</strong></br>
                Se ci inviate o rilasciate commenti o feedback, accettate che possiamo usarli, riprodurli e sfruttarli
                senza alcuna restrizione e compenso per voi, a meno che non sia stato concordato diversamente tra voi e
                PadMed.</br></br>
                <strong>Sicurezza delle informazioni</strong></br>
                Prendiamo sul serio l'affidabilità e la sicurezza, e mettiamo un grande sforzo per garantire che il
                nostro servizio funzioni sempre, e che sia un ambiente sicuro per i vostri dati. Usiamo ciò che crediamo
                essere i servizi di hosting "best-of-class" e tecnologie e servizi di sicurezza che crediamo forniscano
                un ambiente sicuro e protetto.
                Tuttavia, nessun sistema è perfettamente sicuro o affidabile, Internet è un mezzo intrinsecamente
                insicuro e l'affidabilità dei servizi di hosting, degli intermediari Internet, del tuo fornitore di
                servizi Internet e di altri fornitori di servizi non può essere garantita. Quando utilizzi i Servizi,
                accetti questi rischi e la responsabilità di aver scelto di utilizzare una tecnologia che non fornisce
                sicurezza o affidabilità perfette.</br></br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Main communication div -->

<!-- Specific JS goes HERE -->
{% endblock content %}

{% block javascripts %}
<script>

    function submitForm(){
        document.getElementById("#goOn").click();
    }

    function refuse(){
        document.getElementById("#goPrev").click();
    }

    function openModal() {
        document.getElementById("modal").style.display = "block";
        document.getElementById("modal").style.overflow = "auto";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
        document.getElementById("modal").style.overflow = "auto";

    }
</script>
{% endblock javascripts %}