{% extends 'layouts/base-triage-pharma.html' %}

{% block title %} Conditions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    body {
        font: 30px/100% AcuminVariableConcept, sans-serif;
        background: url("/static/assets/img/pharma/background-pharma-body.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<!-- Header container -->
<div class="row pharma-header-bar">
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">
        <img width="20%" height="80%" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-4 vertical-center">
        <img width="100%" src="/static/assets/img/pharma/data-header.png">
    </div>
    <div class="col-md-2 align-left">
        <img width="20%" height="80%" class="flip-horizontal" src="/static/assets/img/pharma/triangle-left.png">
    </div>
    <div class="col-md-2"></div>
</div>
<!-- Header container -->

<!-- Main communication div -->
<div class="pharma-area">
    <div class="pharma-area-triangle vertical-center"></div>
    <div class="pharma-area-out vertical-center">
        <div class="row">
            <div class="col-md-4 vertical-bottom">
                <img width="100%" height="auto" src="/static/assets/img/pharma/doctor.png">
            </div>
            <div class="col-md-8 vertical-center">
                <p class="pharma-text">
                    <b>EFFETTUA UN CHECK-UP
                    <br>IN 1 MINUTO <br><br></b>
                    CONOSCERAI <br> IL TUO STATO <br>  <b>DI SALUTE GENERALE</b>
                </p>
            </div>
        </div>
    </div>
    <div class="vertical-center mt-5">
        <p class="text-splash">PREMI IL TASTO PER INIZIARE</p>
    </div>
    <div class="vertical-center" onclick="goNext()">
        <a href="{% url 'user_conditions' %}">
            <img class="button-splash">
        </a>
    </div>
</div>
<div class="vertical-center">
    <img class="logo-footer" onclick="">
</div>
<!-- Main communication div -->

<!-- Specific JS goes HERE -->
{% endblock content %}

{% block javascripts %}
<script>

    function goNext(){
        location.href="{% url 'user_conditions' %}";
    }
</script>
{% endblock javascripts %}