<!-- Footer -->
<footer class="footer">
    <div class="footer-logo-div">   
        <img class="footer-logo-img" src="/static/assets/img/brand/logo-white.png">
    </div>
    <div>
        <h2 class="footer-bar-h2">
            {{ user.totem_logged.hospital }}
            {% comment %} <span class="normal-text" style="color: black;">{{ user.totem_logged.hospital }}</span> {% endcomment %}
        </h2>
    </div>
    {% if show_arrow %}
    <div class="row full-bottom-left">
        <img src="/static/assets/img/triage/arrow90.png">
      </div>
    {% endif %}
</footer>

