<!-- Footer -->
<footer class="footer" style="background-color: #5C5C5C;">
    <div class="footer-logo-div">   
        <img class="footer-logo-img" src="/static/assets/img/brand/logo-white.png">
    </div>
    {% if show_arrow %}
            <h2 class="footer-bar-h2-final">
                INTEGRATED BIOMEDICAL SISTEM
            </h2>
            <div class="mt-10"></div>
            <div class="row full-bottom-left">
                <img src="/static/assets/img/triage/arrow90.png" onclick="sendToQuickPrinterChrome();">
            </div>
    {% else %}
    <div>
        <h2 class="footer-bar-h2">
            INTEGRATED BIOMEDICAL SISTEM
        </h2>
    </div>
    {% endif %}

</footer>

